.user-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.user-navigation-bar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-navlink {
  display: contents;
}
.user-logo {
  width: 109px;
  height: 125px;
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.user-links {
  flex: 0 0 auto;
  width: 1141px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-about-us {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.user-about-us:hover {
  color: #a45a6b;
  font-style: normal;
  font-weight: 700;
}
.user-our-pets {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.user-our-pets:hover {
  color: #5578a4;
  font-style: normal;
  font-weight: 700;
}
.user-the-team {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.user-the-team:hover {
  color: #af6a43;
  font-style: normal;
  font-weight: 700;
}
.user-navlink1 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.user-navlink1:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  background-color: var(--dl-color-primary-palette3);
}
.user-function {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 514px;
  margin: auto;
  display: flex;
  position: absolute;
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  justify-content: flex-start;
}
.user-current-info {
  flex: 0 0 auto;
  width: 481px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-style: inset;
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.user-user-info {
  top: 0px;
  left: 785px;
  width: 630px;
  height: 514px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
}
.user-text3 {
  height: 65px;
  align-self: center;
}
.user-update-info {
  width: 454px;
  height: 290px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.user-navlink2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-700);
}
.user-filler {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.user-navlink3 {
  left: 753px;
  bottom: 39px;
  margin: auto;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
}
.user-navlink3:hover {
  color: #dcdcdc;
  font-style: normal;
  font-weight: 600;
  background-color: #7e7e7e;
}

  .user-container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 52.00%,rgb(116, 120, 149) 100.00%);
  }
  .user-navigation-bar {
    justify-content: space-between;
  }
  .user-logo {
    width: 163px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-left: 4px;
    margin-right: 4px;
    padding-left: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-fourunits);
  }
  .user-links {
    width: 728px;
    align-items: center;
    justify-content: center;
  }
  .user-about-us {
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .user-our-pets {
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .user-the-team {
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .user-navlink1 {
    font-style: normal;
    font-weight: 600;
    margin-right: var(--dl-space-space-fourunits);
  }
  .user-function {
    left: 0px;
    right: 0px;
    position: static;
    margin-top: 90px;
    align-items: stretch;
    justify-content: flex-start;
  }
  .user-current-info {
    box-shadow: 5px 5px 10px 0px #1d1d1d;
    margin-left: var(--dl-space-space-fourunits);
    border-width: 0px;
    margin-right: var(--dl-space-space-fourunits);
    background-color: var(--dl-color-primary-p11);
  }
  .user-text {
    color: #f5f5f5;
  }
  .user-text1 {
    color: #f5f5f5;
  }
  .user-text2 {
    color: #f5f5f5;
  }
  .user-user-info {
    width: 454px;
    position: static;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .user-input {
    margin-top: var(--dl-space-space-doubleunit);
  }
  .user-input1 {
    margin-top: var(--dl-space-space-doubleunit);
  }
  .user-input2 {
    margin-top: var(--dl-space-space-doubleunit);
  }
  .user-input3 {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .user-navlink2 {
    height: 36px;
    margin-top: var(--dl-space-space-doubleunit);
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .user-filler {
    align-self: center;
    margin-top: 0px;
    border-color: #787878;
    border-width: 0px;
    margin-bottom: 0px;
  }
  .user-navlink3 {
    margin: var(--dl-space-space-fiveunits);
    position: static;
  }


.team-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 95px;
  position: relative;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 1.00%,rgb(44, 62, 80) 100.00%);
}
.team-address {
  top: 13px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.team-text24 {
  font-size: 20px;
}
.team-copyright {
  top: 43px;
  left: 0px;
  color: var(--dl-color-gray-900) #FFFFFF;
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.team-text26 {
  color: var(--dl-color-gray-white);
}
