.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.login-navigation-bar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-navlink {
  display: contents;
}
.login-logo {
  width: 109px;
  height: 125px;
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.login-links {
  flex: 0 0 auto;
  width: 1141px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-about-us {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.login-about-us:hover {
  color: #a45a6b;
  font-style: normal;
  font-weight: 700;
}
.login-our-pets {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.login-our-pets:hover {
  color: #5578a4;
  font-style: normal;
  font-weight: 700;
}
.login-the-team {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.login-the-team:hover {
  color: #af6a43;
  font-style: normal;
  font-weight: 700;
}
.login-navlink1 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.login-navlink1:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  background-color: var(--dl-color-primary-palette3);
}
.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.login-login-form {
  flex: 0 0 auto;
  width: 648px;
  height: 278px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-palette1);
}
.login-text {
  align-self: center;
}
.login-form {
  height: 172px;
  position: relative;
  align-self: center;
}
.login-user-input {
  width: 245px;
  height: 40px;
  text-align: center;
}
.login-password-input {
  top: 78px;
  left: 0px;
  width: 245px;
  height: 40px;
  position: absolute;
  text-align: center;
  padding-right: var(--dl-space-space-tripleunit);
}
.login-admin-signin {
  transition: 0.3s;
  text-decoration: none;
}
.login-admin-signin:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-700);
}
.login-signin {
  transition: 0.3s;
  text-decoration: none;
}
.login-signin:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-700);
}
.login-extra {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-image {
  width: 100px;
  object-fit: cover;
}
.login-filler {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 1600px) {
  .login-container {
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 31.00%,rgb(90, 116, 130) 100.00%);
  }
  .login-navigation-bar {
    justify-content: space-between;
  }
  .login-logo {
    width: 163px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-left: 4px;
    margin-right: 4px;
    padding-left: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-fourunits);
  }
  .login-links {
    width: 728px;
    align-items: center;
    justify-content: center;
  }
  .login-about-us {
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .login-our-pets {
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .login-the-team {
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .login-navlink1 {
    font-style: normal;
    font-weight: 600;
    margin-right: var(--dl-space-space-fourunits);
  }
  .login-container1 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .login-login-form {
    width: 389px;
    height: 442px;
    position: relative;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #575757;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius24);
    margin-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
    background-color: var(--dl-color-primary-palette1);
  }
  .login-text {
    color: #ffffff;
    margin-bottom: 0px;
  }
  .login-form {
    width: 334px;
    height: 293px;
    position: 0px;
    align-self: center;
  }
  .login-user-input {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .login-password-input {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100px;
    margin: auto;
    position: absolute;
    padding-left: var(--dl-space-space-tripleunit);
  }
  .login-admin-signin {
    right: 40px;
    width: 111px;
    bottom: 20px;
    height: 34px;
    margin: auto;
    position: absolute;
    font-size: 18px;
    text-align: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .login-signin {
    left: 40px;
    width: 111px;
    bottom: 20px;
    height: 34px;
    margin: auto;
    position: absolute;
    font-size: 18px;
    text-align: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .login-extra {
    width: 540px;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: 136px;
    margin-right: var(--dl-space-space-fourunits);
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .login-image {
    width: 672px;
    height: 355px;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #6d6d6d;
    margin-top: var(--dl-space-space-fourunits);
    margin-left: var(--dl-space-space-fourunits);
    margin-right: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-radius24);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .login-text03 {
    color: rgb(255, 255, 255);
    margin: 0px;
    box-shadow: rgb(41, 41, 41) 5px 5px 10px 0px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-left: var(--dl-space-space-doubleunit);
    padding-top: var(--dl-space-space-doubleunit);
    margin-right: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: var(--dl-radius-radius-radius24);
    margin-bottom: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-primary-p81);
  }
  .login-navlink2 {
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
  }
  .login-text10 {
    font-style: normal;
    font-weight: 700;
  }
  .login-filler {
    margin-top: var(--dl-space-space-fiveunits);
    border-width: 0px;
  }
}
@media(max-width: 1200px) {
  .login-form {
    width: 644px;
    height: 466px;
  }
  .login-user-input {
    top: 143px;
    left: 209px;
    position: absolute;
  }
  .login-password-input {
    top: 207px;
    left: 209px;
  }
}
@media(max-width: 767px) {
  .login-password-input {
    height: 42px;
  }
}
