.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-navbar-interactive {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.login-navlink {
  display: contents;
}
.login-logo {
  height: 2rem;
  text-decoration: none;
}
.login-desktop-menu {
  display: flex;
}
.login-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.login-link {
  text-decoration: none;
}
.login-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.login-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.login-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-login {
  border-width: 0px;
  margin-right: 32px;
  text-decoration: none;
}
.login-register {
  text-decoration: none;
}
.login-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.login-icon {
  width: 16px;
  height: 16px;
}
.login-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.login-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.login-image {
  height: 2rem;
}
.login-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-icon02 {
  width: 16px;
  height: 16px;
}
.login-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-text {
  margin-bottom: var(--dl-space-space-unit);
}
.login-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.login-login1 {
  margin-right: 32px;
}
.login-icon-group {
  display: flex;
}
.login-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.login-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.login-icon08 {
  width: 16px;
  height: 16px;
}
.login-form {
  height: 172px;
  position: relative;
  align-self: center;
}
.login-textinput {
  top: 78px;
  left: 0px;
  width: 245px;
  height: 40px;
  position: absolute;
  text-align: center;
  padding-right: var(--dl-space-space-tripleunit);
}
.login-navlink3 {
  left: 28px;
  bottom: 16px;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.login-navlink4 {
  right: 28px;
  bottom: 16px;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.login-textinput1 {
  width: 245px;
  height: 40px;
  text-align: center;
}
@media(max-width: 1200px) {
  .login-form {
    width: 644px;
    height: 466px;
  }
  .login-textinput {
    top: 207px;
    left: 209px;
  }
  .login-textinput1 {
    top: 143px;
    left: 209px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .login-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .login-desktop-menu {
    display: none;
  }
  .login-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .login-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .login-btn-group {
    display: none;
  }
  .login-burger-menu {
    display: flex;
  }
  .login-textinput {
    height: 42px;
  }
}
@media(max-width: 479px) {
  .login-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 8px;
  }
  .login-mobile-menu {
    padding: 16px;
  }
}
